<h3 style="text-align:center; padding:30px;">Top 100 Cryptocurrencies by Market Capitalization</h3>

  <div style="padding:15px">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Market Cap </th>
            <th scope="col">Price</th>
            <th scope="col">Volume (24h)</th>
            <th scope="col">Circulating Supply</th>
            <th scope="col">Change (24h)</th>
            <th scope="col">Price Graph (7d)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of currency; let index=index;">
            <th scope="row">{{index}}</th>
            <td>{{data.name}}</td>
            <td *ngIf="data['market_cap_'+currentyType]">{{data['market_cap_'+currentyType]}}</td>
            <td>{{data['price_'+currentyType]}}</td>
            <td>{{data['24h_volume_'+currentyType]}}</td>
            <td>{{data.total_supply}}</td>
            <td>{{data.percent_change_24h}} %</td>
            <td>{{data.name}}</td>
          </tr>
        </tbody>
      </table>
  </div>
